frontend loadbalancer
    bind *:6443
    mode tcp
    default_backend control_nodes
    timeout client 1m

backend control_nodes
    mode tcp
    balance roundrobin
{% for host in groups['server'] %}
    server server-{{ loop.index }} {{ host }}:6443 check
{% endfor %}
    timeout connect 30s
    timeout server 30m
